<p style="color: green"><%= notice %></p>

<h1>Gizmos</h1>

<div id="gizmos">
  <table>
    <% @gizmos.each do |gizmo| %>
      <tr>
        <td>
          <%= gizmo.type %> - <%= gizmo.name %>
        </td>
      </tr>
  <% end %>
  </table>
</div>

<%= link_to "New gizmo", new_gizmo_path %>
